{{extend 'layout.html'}}
<style>
	#project-list-container{text-align:center;width:100%;}
    #project-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;}
    #project-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;}
</style>
<div style="background-color:rgb(102,220,197)">
	<br><br><br>
	<br><br><br>
	<p class="lead" style="font-size:128px;text-align:center;color:rgb(255,255,255);">transparency</p>
	<br><br><br>
	<br><br><br>
</div>
<div style="background-color:rgb(72,190,167)">
	<br><br>
	<p class="lead" style="text-align:center;color:rgb(255,255,255);">mhm</p>
	<br>
</div>
<div style="margin-left:10%;margin-right:10%">

	<br><br><br>
	<p class="lead">PICTURES</p>
</div>
<br><br><br><br>
